*

  #titolo {
    color: yellow;
    font-weight: bold;
    margin-top: 0px ;
    margin-bottom: 0px ;
    font-size: 26px;
}
  #section1 {
    width: 98.7%;
    top:-10 px;
    border:1px solid rgb(255, 255, 255);
    position:fixed;
    text-align: center;
    background-color: black;
    color: white;
   
  }
   
  #section3 {
    
    /* la zona output sembra essere il contenitore pricipale
    che contiene gli altri non ho capito bene perché*/
    
    margin-top: -8px;
    padding-top: 55px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
    font-size: 16px;
    border:rgb(255, 255, 255) solid 1px;
  }
  #section2 {
    text-align: center;
    background-color: black;
    color: white;
   padding-bottom: 400px;
    
  }
  #myRange {
    /* Change direction of the: input type="range" (minus on the right and minus on the left) */
    position:relative;
    top:3px;
    right:26px;
    direction: rtl
  }
  #labelMyRange {
    position:relative;
    left: 70px;
    bottom:18px;
    color:rgb(216, 91, 91);
  }

input[type="file"] {display:none;}
.bottoneFile {
    margin-right:5px;
    border:1px solid rgb(224, 48, 48);
    padding: 18px;cursor: pointer;
    display: inline-block;
    background: url(img/openfolder.jpg);
    position:relative;
    top:2px;
  }
  #iconSpeed {
     /*display:none; */
    position:fixed;
    padding: 20px;
    left: 20px;
    z-index: 1; /*importantissssssssssssssssssimo!!!!!!!!!!!! decide se stare al di sopra o al di sotto */
    
  }
  #iconSpeed2 {
    /*display:none; */
   position:fixed;
   padding: 20px;
   right: 20px;
   z-index: 1; /*importantissssssssssssssssssimo!!!!!!!!!!!! decide se stare al di sopra o al di sotto */
   
 }
  
  #txt {
     /*display:none; */
    
    position:absolute;
    right:210px;
    top:0px;
    
  }
  #fontSize
   {display:none;}
.bottoneZoom {
    margin-right:5px;
    border:1px solid #ccc;
    padding: 18px;cursor: pointer;
    display: inline-block;
    background: url(img/Zoomin.png);
    position:relative;
    top:2px;
  }
  #buttonStop
   {display:none;}
.bottoneStop {
    margin-right:5px;
    border:1px solid #ccc;
    padding: 18px;cursor: pointer;
    display: inline-block;
    background: url(img/stop.jpg);
    position:relative;
    top:2px;
  }
  #buttonStart
   {display:none;}
.bottoneStart {
    margin-right:5px;
    border:1px solid #ccc;
    padding: 18px;cursor: pointer;
    display: inline-block;
    background: url(img/start.jpg);
    position:relative;
    top:2px;
  }